body, html{ margin:0 auto; padding:0; overflow-X:auto;}
body, html, table, tr, td { font: normal 12px Arial, Helvetica, sans-serif; color:#3e3e3e;}
.er_wrapper{margin:5px;}
.white14 { font-size:14px; color:#fff; font-weight:bold;}
.white11 { font-size:11px; color:#fff;}
.er_wrapper{ margin:5px;}
.pad_left { padding:3px; padding-right:10px}
.header{background:#f0f0f0;}
.qno{height:28px; padding-bottom:5px;}
.qno1{height:28px; padding-top:5px;}

.header_cap{ font: bold 16px/18px Arial, Helvetica, sans-serif; color:#1973b4; padding:2px 0 0 6px; }
.header_cap span { text-transform:uppercase;}
.header_txt, .qustion_text{ font: normal 12px/18px Arial, Helvetica, sans-serif; color:#1973b4; padding:0px 10px 3px 7px; }
.header_txt ul, .header_txt li{list-style:none; display:inline; margin:0; padding:0;}
.adjust_height{padding:1px 54px 6px 37px;}
.clr{color:#676767}
.small_fnt{font-size:11px; line-height:12px; padding:0 10px; line-height:24px;}
.header_txt li{padding-right:10px;}
.tr_wht{background:#fff;} 
.bt_align{ padding:0px; height:18px;}
.btn_st{color:#676767; width:150px; line-height:16px}
.width_100{width:100px;}
.width_60{width:60px;}
.height_23{height:23px;}
.height_22{height:22px;}
.left_line{ border-left:1px solid #b7babc;} 
.no_right{ border-right:none;}
.bot_line{border-bottom: 1px solid #b7babc;}
.qustion_text{ color:#676767; padding-top:10px; font-size:14px; }
.qustion_text .no_lst {margin:5px; padding-left:15px;}
.qustion_text .no_lst li{ padding-left:3px; list-style:decimal; padding-top:5px;}

.qustion_text ul, .qustion_text li{ list-style:none; margin:0; padding:0;}
.login{ height:22px; font: bold 12px/22px Arial, Helvetica, sans-serif; color:#676767; margin:10px; width:90px;}

.q_list{ display:inline; float:left; padding:3px;}
.q_list ul, .q_list li{ list-style:none; margin:0; padding:0; display:inline;}
.q_list li{ padding:1px 2px;}
.tx_align{float:left; display:inline;}

.btn {float:right; padding:10px 10px 10px 0; width:200px;}
.btn .btn_s a { display: block; width: 200px; height: 35px; text-decoration: none; background:url(images/btn.gif) }
.btn .btn_s a:hover { background-position: 0 -35px; }
.btn .btn_s .desabled { background-position: 0 -70px; }

.btn1 { width:145px;}
.btn1 .btn_1 a { display: block; width: 145px; height: 23px; text-decoration: none; background:url(images/fl_btn.gif) }
.btn1 .btn_1 a:hover { background-position: 0 -23px; }
.btn2 { width:90px;}
/*Previous Button*/
.btn2 .btn_2 a { display: block; width: 90px; height: 23px; text-decoration: none; background:url(images/prev_btn.gif) }
.btn2 .btn_2 a:hover { background-position: 0 -23px; }
.btn2 .btn_2 .desabled{ background-position:0 -46px;}
/*Next Button*/
.btn3 { width:90px;}
.btn3 .btn_3 a { display: block; width: 90px; height: 23px; text-decoration: none; background:url(images/nxt_btn.gif) }
.btn3 .btn_3 a:hover { background-position: 0 -23px; }
.btn3 .btn_3 .desabled{ background-position:0 -46px;}

.ip_style{ border-right:1px solid #6d6f70; border-top: 1px solid #6d6f70; border-bottom:1px solid #c9cbcc; border-left:1px solid #c9cbcc; width:95%; font-size:12px; color: #676767; padding:2px 5px;}












