﻿/* CSS Document */
html, body {background:#fff; padding:0; margin:0px auto; border:0; height:100%;}
img {border:0px; vertical-align:middle;}
a {color:#007496;}
a:hover {color:#1abbff;}
a, a:hover, a:active, a:focus, input {outline:none; text-decoration:none; -moz-outline:none;}
body, table, td, tr, th, input, textarea, select {font:normal 12px/18px Arial, Helvetica, sans-serif; color:#525252; vertical-align:top;}
li {list-style:none;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}

/*body*/
#wrapper {background:white; min-width:1024px;}/* max-width:1366px;*/

/*header*/
#header {height:60px; width:99.8%;}/*background:#35678a; */
.logo_space {float:left; width:50%; height:35px; background:url(../images/header-left.png) no-repeat; padding:10px 0 10px 20px;}
#header_right {float:right; width:35%; height:39px; padding:8px 25px 8px 0px; text-align:right;}
#header_right h1 {font-size:20px; font-weight:bold;}/*color:#fff; */
#header_right h6 {font-size:11px; font-weight:bold; padding-top:3px;}/*color:#fff;*/

/*labelstrik*/
#label_strik {height:73px; width:99.8%;} /*background:#e1f7ff; */
.label_left {float:left; width:55%; padding:2px 0 2px 20px;}
#label_right {float:right; width:35%; padding:2px 20px 2px 0px; text-align:right; font-weight:bold;}

/*details*/
#container {width:99.9%;}/*background:url(../images/right-top-border.gif) left top repeat-x;*/
#container h1 {font-size:16px; color:#35678a; font-weight:bold; padding-left:15px;}
#container h2 {font-size:12px; color:#162B3B; font-weight:bold; padding-left:15px;}

.color_a {color:#35678a; font-weight:bold;}
.font_a {font-size:15px;}

/*inner page*/
.inner_con_left {float:right; width:28%;} /*padding-top:2px;*/
.inner_con_right {float:left; width:70%;}/* margin:0px 400px 0 0; padding-top:5px;*/
.inner_pad_a {padding:10px 10px 0px 10px;}/* margin-top:2px;*/
.inner_pad_c {padding:10px;}/* background:url(../images/left-border.gif) repeat-y;*/

/*box 1*/
.box_a {background:#fff; padding:0;}

/*footer*/
#footer {clear:both; padding:8px 0px; position:fixed; opacity:0.9; filter:Alpha(opacity=90); bottom:0; width:99.8%}/* background:#35678a url(../images/bottom-top-border.gif) repeat-x;height:26px; padding-top:18px;*/
.copyr {font-size:12px; text-align:right;padding-right:20px;}/* color:#fff;*/

/*Inputs*/
form h1 {font-size:16px; font-weight:bold;}/*color:#35678a; */
input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}
label {font-size:11px; font-weight:bold; color:#666;}
label.opt {font-weight:normal;}
dl {clear:both; margin:0; padding:0;}
dt {float:left; text-align:right; width:70px; line-height:25px; margin:0 10px 2px 0;}
dd {float:left; line-height:25px; margin:0 0 0 0;}
input, textarea, select {-moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #ccc; padding:3px;}
input:hover, textarea:hover, select:hover {border:1px solid #1abbff; padding:3px;} /*-moz-border-radius:5px; -webkit-border-radius:5px;*/
.errmsg, .errmsg:hover {-moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #ff0000; background:#ffdddd; color:#ff0000;}/*adding:0px 10px; margin-left:10px; line-height:21px;}*/
input, textarea, select {box-shadow: 3px 3px 8px #ccc; -moz-box-shadow: 3px 3px 8px #ccc; -webkit-box-shadow: 3px 3px 8px #ccc;}
/*.errmsg {border:1px solid #fff076; background:#fffce6; padding:3px 10px; margin-left:10px; -moz-border-radius:5px; -webkit-border-radius:5px;}*/
.correct {margin-left:10px; background:url(../images/correct.gif) no-repeat; width:23px; height:23px;}
.wrong {margin-left:10px; background:url(../images/wrong.gif) no-repeat; width:23px; height:23px;}
/*.remove a, .remove a:hover {font:normal 10px/18px Arial, Helvetica, sans-serif; color:#ff0000; border:1px solid #fff; background:#f1f3f4; padding:3px 10px;}*/
.ui-table-bottom-line td {border-bottom:1px solid #DFDFDF; border-right:1px solid #DFDFDF; border-left:1px solid #DFDFDF; padding:3px 0; text-align:center; padding: 0px 5px;}
.answerSeprator {border:dashed #00CCFF; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:12px 0px;}

.button_one {background:#709571 url(../images/button_one.gif) repeat-x; border:1px solid #415e42; color:#fff; font-weight:bold; padding:0px 3px; padding:expression('0 6px'); line-height:17px; height:20px; margin-bottom:5px;}
.button_one:hover {background:#99b499; border:1px solid #415e42; padding:0px 3px; padding:expression('0 6px');}
.button_two {background:#ff7e00 url(../images/button_two.gif) repeat-x; border:1px solid #bb5200; color:#fff; font-weight:bold; padding:0px 3px; padding:expression('0 6px'); line-height:17px; height:20px; margin-bottom:5px;}
.button_two:hover {background:#ffa74e; border:1px solid #bb5200; padding:0px 3px; padding:expression('0 6px');}
.button_three {background:#db2222 url(../images/button_three.gif) repeat-x; border:1px solid #8b3030; color:#fff; font-weight:bold; padding:0px 3px; padding:expression('0 6px'); line-height:17px; height:20px; margin-bottom:5px;}
.button_three:hover {background:#e36161; border:1px solid #8b3030; padding:0px 3px; padding:expression('0 6px');}

.graph{ margin:5px; text-align:center;}
.color_01{width:20px; height:16px; background:#E56942; display:inline-block}
.color_02{width:20px; height:16px; background:#ECC384; display:inline-block}
.color_03{width:20px; height:16px; background:#86B5F5; display:inline-block}

/*--------------------- Custom Alert--------------------------*/
#popup_container {font-family:Arial, sans-serif; font-size:12px; min-width:300px; max-width:600px; background:#FFF; border:solid 5px #999; color:#000; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#popup_title {font-size:14px; font-weight:bold; text-align:center; line-height:1.75em; color:#666; background:#CCC url(../images/title.gif) top repeat-x; border:solid 1px #FFF; border-bottom:solid 1px #999; cursor:default; padding:0em; margin:0em;}
#popup_content {background:16px 16px no-repeat url(../images/info.gif); padding:1em 1.75em; margin:0em;}
#popup_content.alert {background-image:url(../images/info.gif);}
#popup_content.confirm {background-image:url(../images/important.gif);}
#popup_content.prompt {background-image:url(../images/help.gif);}
#popup_message {padding-left:48px;}
#popup_panel {text-align:center; margin:1em 0em 0em 1em;}
#popup_prompt {margin:.5em 0em;}