body, html{ margin:0 auto; padding:0; overflow-X:auto;}
body, html, table, tr, td { font: normal 12px Arial, Helvetica, sans-serif; color:#3e3e3e;}
.er_wrapper{margin:5px;}
.white14 { font-size:14px; color:#fff; font-weight:bold;}
.white11 { font-size:12px; color:#fff;}
.er_wrapper{ margin:5px;}
.pad_left { padding:3px 8px 1px 3px;}
.header{background:#f0f0f0;}
.qno{height:28px; padding-bottom:5px;}
.qno1{height:28px; padding-top:5px;}
.hyper_link a{font-size:14px; font-weight:bold; color:#009dff}
.hyper_link a:hover{font-size:14px; font-weight:bold; color:#009dff; text-decoration:none;}

.header_cap{ font: bold 16px/18px Arial, Helvetica, sans-serif; color:#1973b4; padding:2px 0 0 6px; }
.header_cap span { text-transform:uppercase;}
.header_txt, .qustion_text{ font: normal 16px Arial, Helvetica, sans-serif; color:#1973b4; padding:0 8px 6px 7px; }
.header_txt ul, .header_txt li{list-style:none; display:inline; margin:0; padding:0;}
.adjust_height{padding:1px 54px 6px 37px;}
.clr{color:#676767}
.small_fnt{font-size:14px; line-height:12px; padding:0 10px; line-height:24px;}
.header_txt li{padding-right:10px;}
.tr_wht{background:#fff;} 
.bt_align{ padding:0px; height:18px;}
.btn_st{color:#676767; width:150px; line-height:16px}
.width_100{width:100px;}
.width_60{width:60px;}
.height_23{height:23px;}
.height_22{height:22px;}
.left_line{ border-left:1px solid #b7babc;} 
.no_right{ border-right:none;}
.bot_line{border-bottom: 1px solid #b7babc;}
.qustion_text{ color:#676767; padding-top:10px; font-size:16px; }
.qustion_text .no_lst {margin:5px; padding-left:15px;}
.qustion_text .no_lst li{ padding-left:3px; list-style:decimal; padding-top:5px;}

.qustion_text ul, .qustion_text li{ list-style:none; margin:0; padding:0;}
.login{ height:22px; font: bold 14px Arial, Helvetica, sans-serif; color:#676767; margin:10px; width:90px;}
.registration{ height:22px; font: bold 14px Arial, Helvetica, sans-serif; color:#676767; margin:10px; }

.q_list{ display:inline; float:left; padding:3px;}
.q_list ul, .q_list li{ list-style:none; margin:0; padding:0; display:inline;}
.q_list li{ padding:1px 2px;}
.tx_align{float:left; display:inline;}

.btn {float:right; padding:10px 10px 10px 0; width:200px;}
.btn .btn_s a { display: block; width: 200px; height: 35px; text-decoration: none; background:url(../images/btn.gif) }
.btn .btn_s a:hover { background-position: 0 -35px; }
.btn .btn_s .disabled { background-position: 0 -70px; }

.btn1 { width:145px;}
.btn1 .btn_1 a { display: block; width: 145px; height: 23px; text-decoration: none; background:url(../images/fl_btn.gif) }
.btn1 .btn_1 a:hover { background-position: 0 -23px; }
.btn2 { width:90px;}
/*Previous Button*/
.btn2 .btn_2 a { display: block; width: 90px; height: 23px; text-decoration: none; background:url(../images/prev_btn.gif) }
.btn2 .btn_2 a:hover { background-position: 0 -23px; }
.btn2 .btn_2 .disabled{ background-position:0 -46px;}
/*Next Button*/
.btn3 { width:90px;}
.btn3 .btn_3 a { display: block; width: 90px; height: 23px; text-decoration: none; background:url(../images/nxt_btn.gif) }
.btn3 .btn_3 a:hover { background-position: 0 -23px; }
.btn3 .btn_3 .disabled{ background-position:0 -46px;}

/*login Button*/
.btn4 { width:57px;}
.btn4 .btn_4 a { display: block; width: 57px; height: 25px; text-decoration: none; background:url(../images/log-in.gif) }
.btn4 .btn_4 a:hover { background-position: 0 -25px; }
.btn4 .btn_4 .disabled{ background-position:0 -50px;}


/*Agree Button*/
.btn5 { width:200px;}
.btn5 .btn_5 a { display: block; width: 200px; height: 35px; text-decoration: none; background:url(../images/agree-disagree.gif) }
.btn5 .btn_5 a:hover { background-position: 0 -35px; }

/*DisAgree Button*/
.btn6 { width:200px;}
.btn6 .btn_6 a { display: block; width: 200px; height: 35px; text-decoration: none; background:url(../images/agree-disagree.gif) 0 -70px; }
.btn6 .btn_6 a:hover { background-position: 0 -105px; }

/*Skip Demo Button*/
.btn7 { width:200px;}
.btn7 .btn_7 a { display: block; width: 200px; height: 35px; text-decoration: none; background:url(../images/skip-demo.gif); }
.btn7 .btn_7 a:hover { background-position: 0 -35px; }

/*Start Test Button*/
.btn8 { width:200px;}
.btn8 .btn_8 a { display: block; width: 200px; height: 35px; text-decoration: none; background:url(../images/start-test.gif); }
.btn8 .btn_8 a:hover { background-position: 0 -35px; }

/* Add and Preview Buttons */
.btn2a .btn_2a a { display: block; width: 70px; height: 23px; text-decoration: none; background:url(../images/add_btn.gif) }
.btn2a .btn_2a a:hover { background-position: 0 -23px; }
.btn2a .btn_2a .disabled{ background-position:0 -46px;}
.btn2a .btn_2a span{ display:none;}

.btn2b .btn_2b a { display: block; width: 70px; height: 23px; text-decoration: none; background:url(../images/preview_btn.gif) }
.btn2b .btn_2b a:hover { background-position: 0 -23px; }
.btn2b .btn_2b .disabled{ background-position:0 -46px;}
.btn2b .btn_2b span{ display:none;}



.ip_style{ border-right:1px solid #6d6f70; border-top: 1px solid #6d6f70; border-bottom:1px solid #c9cbcc; border-left:1px solid #c9cbcc; width:95%; font-size:12px; color: #676767; padding:2px 5px;}



.all_200_btns { width:200px;}
.all_200_btns .submit_test a { display: block; width:200px; height: 35px; text-decoration: none; background:url(../images/all-200-btns.gif) }
.all_200_btns .submit_test a:hover { background-position: 0 -35px; }
.all_200_btns .submit_test .disabled{ background-position:0 -70px;}




.q_lists{ display:inline; float:left; padding:3px;}
.q_lists ul, .q_lists li{ list-style:none; margin:0; padding:0; display:inline;}
.q_lists li a{ width: 22px; height: 22px; text-decoration: none; background:url(../images/colored_btns.gif); display:inline-block; line-height:22px; text-align:center; color:#fff; font-weight:700 }
.q_lists li .green{ width: 22px; height: 22px; text-decoration: none; background:url(../images/colored_btns.gif) 0 -22px; display:inline-block;}
.q_lists li .orange{ width: 22px; height: 22px; text-decoration: none; background:url(../images/colored_btns.gif) 0 -44px; display:inline-block;}

.q_lists li .red, .q_lists li .green, .q_lists li .orange {text-decoration:none; line-height:22px; width:22px; color:#fff; text-align:center;}
.q_lists li{float:left; padding:1px; }

.graph{ margin:5px; padding:10px;}
.color_01{width:20px; height:16px; background:#E56942; display:inline-block}
.color_02{width:20px; height:16px; background:#ECC384; display:inline-block}
.color_03{width:20px; height:16px; background:#86B5F5; display:inline-block}

/*small button*/
.but {
    background: transparent url('../Images/ams_button_span_small.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 25px;
    margin-right: 6px;
    padding-right: 5px; /* sliding doors padding */
    text-decoration: none;
}

.but span {
    background: transparent url('../Images/ams_button_a_small.gif') no-repeat;
    display: block;
    line-height: 14px; font-weight:bold;
    padding: 6px 10px 5px 18px;
} 
.but:hover {
    background-position: right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

.but:hover span {
    background-position: left;
    padding: 6px 10px 5px 18px; /* push text down 1px */
} 



.butact {
    background: transparent url('../Images/ams_button_span_small.gif') no-repeat scroll bottom right;
    color: #999;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 25px;
    margin-right: 6px;
    padding-right: 5px; /* sliding doors padding */
    text-decoration: none;
}

.butact span {
    background: transparent url('../Images/ams_button_a_small.gif') no-repeat scroll bottom left;
    display: block;
    line-height: 14px; font-weight:bold;
    padding: 6px 10px 5px 18px;
} 

/*big button*/

.bigbut {
    background: transparent url('../Images/ams_button_span_big.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 16px arial, sans-serif;
    height: 35px;
    margin-right: 6px;
    margin-top:5px;
    padding-right: 5px; /* sliding doors padding */
    text-decoration: none;
}

.bigbut span {
    background: transparent url('../Images/ams_button_a_big.gif') no-repeat;
    display: block;
    line-height: 24px; font-weight:bold;
    padding: 6px 10px 5px 18px;
} 
.bigbut:hover {
    background-position: right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

.bigbut:hover span {
    background-position: left;
    padding: 6px 10px 5px 18px; /* push text down 1px */
} 



.bigbutact {
    background: transparent url('../Images/ams_button_span_big.gif') no-repeat scroll bottom right;
    color: #999;
    display: block;
    float: left;
    font: normal 16px arial, sans-serif;
    height: 35px;
    margin-right: 6px;
    margin-top:5px;
    padding-right: 5px; /* sliding doors padding */
    text-decoration: none;
}

.bigbutact span {
    background: transparent url('../Images/ams_button_a_big.gif') no-repeat scroll bottom left;
    display: block;
    line-height: 24px; font-weight:bold;
    padding: 6px 10px 5px 18px;
}

.but1 {border: none; background: url('../Images/button1.gif') no-repeat top left; line-height:25px; height:25px; width:90px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; color:#444;}
.but1:hover { border-style: none;
    border-color: inherit;
    border-width: medium;
    background-position: left 50%;
background-image:25px 0 !important; 
    width:90px;     text-align:center;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
}
.but1-disabled {border: none; background: url('../Images/button1.gif') no-repeat top left; line-height:25px; height:25px; width:90px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; color:#999;}

.but2{border: none; background: url('../Images/button2.gif') no-repeat top left; line-height:25px; height:25px; width:150px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; color:#444; }
.but2:hover { border: none; background: url('../Images/button2.gif') no-repeat left; background-image:25px 0; width:150px; text-align:center; }

.but3{border: none; background: url('../Images/button3.gif') no-repeat top left; line-height:35px; height:35px; width:200px; text-align:center; font:bold 18px Arial, Helvetica, sans-serif; color:#444; }
.but3:hover { border: none; background: url('../Images/button3.gif') no-repeat left; background-image:35px 0; width:200px; text-align:center; }  
.but3-disabled {border: none; background: url('../Images/button3.gif') no-repeat top left; line-height:35px; height:35px; width:200px; text-align:center; font:bold 18px Arial, Helvetica, sans-serif; color:#999; }

.g_window{ border:1px dashed #d2d2d2;}
.g_window .content{text-align:center;}

/* Dialog
----------------------------------*/
/* Dialog */
.ui-dialog { border:3px solid #c6e3ef; background:#f4fbff; height:auto; -moz-border-radius: 5px; -khtml-border-radius: 5px; //for safari -webkit-border-radius: 5px; border-radius: 5px;}
.ui-dialog-titlebar { height:30px; background:#c6e3ef; width:100%; }
.ui-dialog-title { font-size:14px; font-weight:700; line-height:28px; height:28px; padding-left:10px;}
.ui-dialog-titlebar-close { float:right; height:20px; width:19px; padding:5px; }
.ui-dialog-titlebar-close a { display: block; width: 19px; height: 20px; text-decoration: none; background:url(../images/pop_close.gif); }
.ui-dialog-titlebar-close a:hover { background-position: 0 -20px; } 
.ui-dialog-content { margin:0; border-top:0; background:#f4fbff;}
.ui-dialog-content .ui-dialog-content-height { padding:15px 10px 15px 10px; padding:expression('15px 0px 15px 10px'); overflow:auto;}

/* Custom Alert
------------------------------------*/
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(../images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(../images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(../images/info.gif);
}

#popup_content.confirm {
	background-image: url(../images/important.gif);
}

#popup_content.prompt {
	background-image: url(../images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

/*----------------------Validation Css---------------*/
#field { margin-left: .5em; float: left; }
  	#field, label { float: left; font-family: Arial, Helvetica, sans-serif; font-size: small; }
	br { clear: both; }
	input {margin-bottom: .2em;  }
	label.error {
		background: url('../images/unchecked.gif') no-repeat;
		padding-left: 16px;
		margin-left: .3em;
	}
	label.valid {
		background: url('../images/checked.gif') no-repeat;
		display: block;
		width: 16px;
		height: 16px;
		float:right;
	}
/*---------------------ComboBox Css-----------------*/
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 250px;
	position:relative;
	height: 31px;
	background: url(../images/select_left.gif) no-repeat top left;
	float:left;
}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 31px;
	line-height: 15px;
	padding: 8px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 31px;
	background: url(../images/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 250px;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}